h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  /*   background-color: green; */
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

div {
  /*   background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

Footer {
  margin-top: 100px;
  /*   background-color: blue; */
}
