.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.form {
  width: 400px;
  margin-bottom: 40px;
}
form {
  display: flex;
  flex-direction: column;
}
form > input {
  height: 40px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: lightgoldenrodyellow;
}
.red {
  color: red;
}
.red-border {
  border: 5px solid red;
}

